<%- include('../header.ejs', jsFiles=["members/login.js"], cssFiles=[]) %>

<div id="container" class="login">
    <div class="center">
        <div class="titleWrap">
            <h2 class="mainTitle poppins">MLB PET LOGIN</h2>
            <p class="subTitle">좋은 건 함께 하고 싶으니까, ME & MY PET</p>
        </div>

        <form id="login_form" action="/logincheck" method="post">
            <div class="inputWrap">
                <input type="hidden" name="referer" value="<%- referer %>">
                <div class="inputs">
                    <input type="text" id="memberId" name="memberId" placeholder="아이디">
                </div>
                <div class="inputs">
                    <input type="password" id="memberPass" name="memberPass" placeholder="비밀번호">
                </div>               
                
                <button type="submit" class="loginBtn">로그인</button>

                <div class="joinWrap">
                    <p>아직 회원이 아니신가요?<br>MLP PET의 다양한 혜택들을 만나보세요.</p>
                    <a href="/join" class="join">회원가입</a>
                </div>  
            </div>
        </form>
    </div>
</div>

</body>
</html>