<div class="mypagePassCheck">
    <div class="center">
        <div class="passCheckInputWrap">
            <p>마이페이지를 수정하기 위해서는 비밀번호를 입력해주세요</p>
            <input type="password" id="mypageCheckPass" placeholder="비밀번호를 입력하세요.">
            <div class="passCheckBtns">
                <a class="cancel" href="#">취소</a>
                <a class="checkBtn" href="/members/mypage/edit">확인</a>
            </div>
        </div>
    </div>
</div>