<div class="privacyAgreement agreementConts">
    <h5>개인정보 수집 및 이용에 대한 동의</h5>
    
    <table class="privacyConts">
        <tr>
            <th>수집 및 이용 목적</th>
            <td>회원가입 및 관리</td>
        </tr>
        <tr>
            <th>수집 및 이용 항목</th>
            <td>성명, 이메일, 휴대폰, 아이디, 비밀번호</td>
        </tr>
        <tr>
            <th>보유 및 이용 기간</th>
            <td>회원 탈퇴 시 즉시 삭제<br>단, 관계 법령에 정함이 있는 경우 해당 법률에서 정한 기간동안 이용 및 보관 가능</td>
        </tr>
    </table>

    <p class="subText">
        ※ 위 개인정보 수집에 대한 동의를 거부할 관리가 있으며, 동의 거부 시에는 사이트 가입 또는 일부 서비스 이용이 제한됩니다.​
    </p>
</div>