// 변수 세팅

$center: 80%;
$smallCenter: 65%;

// 폰트 지정
@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.cdnfonts.com/css/hey-august');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

body, input::placeholder, textarea::placeholder,section, button, label, button, textarea, input {
    font-family: 'Noto Sans KR', sans-serif;
}
input::placeholder, textarea::placeholder {
    font-weight: 300;
    color: #aaa;
}
.changwon {
    font-family: 'CWDangamAsac-Bold';
}
.comma {
    font-family: 'Coustard', serif;
}
.mont {
    font-family: 'Montserrat', sans-serif;
}
.hey {
    font-family: 'Hey August', sans-serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}


// shop 컬러
.black {
    background: #000;
}
.white {
    background: #fff;
}
.blue {
    background: blue;
}
.pink {
    background: pink;
}
.red {
    background: red;
}
.mint {
    background: mediumaquamarine;
}
.purple {
    background: slateblue;
}
.beige {
    background: burlywood;
}
.yellow {
    background: gold;
}
.skyblue {
    background: skyblue;
}
.brown {
    background: saddlebrown;
}



