// 변수 세팅

$center: 80%;
$smallCenter: 65%;

// 공통사항 CSS

.goTop {
    position: fixed;
    bottom: 50px; right: 100px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s;
    z-index: 99;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px; height: 60px;
        background: #000;
        border-radius: 100%;
        &:hover {
            animation: goTopHover 0.8s ;
        }
        span.topIcon {
            color: #fff;
            font-size: 40px;
        }
    }
    @keyframes goTopHover {
        0% {transform: translateY(0px);}
        50% {transform: translateY(-10px);}
        100% {transform: translateY(0px);}
    }
}
.goTop.show {
    opacity: 1;
    transform: scale(1);
}

@media screen and (max-width:1200px) {
    .goTop {
        position: fixed;
        bottom: 40px; right: 40px;
    }
}

@media screen and (max-width:768px) {
    .goTop {
        position: fixed;
        bottom: 20px; right: 20px;
        a {
            width: 50px; height: 50px;
            span.topIcon {
                font-size: 30px;
            }
        }
    }
}

// 폰트 지정
@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.cdnfonts.com/css/hey-august');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

body, input::placeholder, textarea::placeholder,section, button, label, button, textarea, input {
    font-family: 'Noto Sans KR', sans-serif;
}
input::placeholder, textarea::placeholder {
    font-weight: 300;
    color: #aaa;
}
.changwon {
    font-family: 'CWDangamAsac-Bold';
}
.comma {
    font-family: 'Coustard', serif;
}
.mont {
    font-family: 'Montserrat', sans-serif;
}
.hey {
    font-family: 'Hey August', sans-serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}


// shop 컬러
.black {
    background: #000;
}
.white {
    background: #fff;
}
.blue {
    background: #3b60c5;
}
.pink {
    background: pink;
}
.red {
    background: #d40101;
}
.mint {
    background: mediumaquamarine;
}
.purple {
    background: #a891dd;
}
.beige {
    background: burlywood;
}
.yellow {
    background: gold;
}
.skyblue {
    background: skyblue;
}
.brown {
    background: #80440c;
}
.coral {
    background: #fd8e82;
}



