.main {
    .cont1 {
        height: 100vh;
        padding: 100px 0 80px;
        background: url(../img/main/main_bg_1.png) no-repeat center / cover;
        box-sizing: border-box;
        overflow: hidden;
        .mainConts {
            width: 100%; height: 100%;
            display: flex;
            justify-content: center;
            .center {
                width: $center;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .leftText {
                    width: 50%; height: 486px;
                    position: relative;
                    &:hover {
                        .mainTitle.full {
                            width: 733px;
                        }
                    }
                    .mainTitle {                        
                        width: 100%;
                        font-size: 160px;
                        position: absolute;
                    }
                    .mainTitle.line {
                        -webkit-text-stroke: 1px #fff;
                        color: transparent;
                        overflow: hidden;
                        transition: all 2s;
                    }
                    .mainTitle.full {
                        width: 0; height: 326px;
                        white-space: nowrap;
                        overflow: hidden;
                        color: #fff;
                        transition: all 2s;
                    }
                    .mainTitle.fix {
                        -webkit-text-stroke: 1px #fff;
                        color: transparent;
                        bottom: 0;
                    }
                }
                .rightConts {
                    width: 48%; height: 750px;
                    position: relative;
                    &:hover {
                        img.back {
                            opacity: 0;
                        }
                        img.front {
                            opacity: 1;
                        }
                    }
                    > img {
                        height: 100%;
                        position: absolute;
                        bottom: 0;
                        transition: all 1s;
                    }
                    img.back {
                        opacity: 1;
                    }
                    img.front {
                        opacity: 0;
                    }
                }
            }
        }
        .textFlow {
            width: 100%;
            display: flex;
            p {
                color: #fff;
                opacity: 0.8;
                font-weight: 100;
                font-size: 30px;
                letter-spacing: 0.5px;
                margin-right: 20px;
                
            }
        }
    }

    .section {
        height: 100vh;
        display: flex;
        justify-content: center;
        .center {
            width: $center;
            height: 100%;
            position: relative;            
            > img {
                position: absolute;
            }
            .textWrap {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .title {
                    font-size: 65px;
                    font-weight: 900;
                    margin-bottom: 30px;
                    line-height: 1.1;
                }
                .hashtag {
                    font-size: 40px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    margin-bottom: 40px;
                }
            }
            .goLink {
                width: 500px; height: 100px;
                position: absolute;
                display: flex;
                justify-content: flex-end;
                &:hover {
                    .viewBtn {
                        width: 60px; height: 60px;
                        border-radius: 50%;
                        .btnConts {
                            .btnText {
                                width: 0;
                                margin-right: 0;
                            }
                        }
                    }
                }
                .viewBtn {
                    width: 100%; height: 60px;
                    position: absolute;
                    top: 50%; left: 0;
                    transform: translateY(-50%);
                    border: 2px solid transparent;
                    border-radius: 0;
                    padding: 10px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    transition: all 0.5s;
                    .btnConts {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        .btnText {
                            font-size: 40px;
                            width: 90%;
                            white-space: nowrap;
                            margin-right: 20px;
                            overflow: hidden;
                            transition: all 0.5s;
                        }
                        span.line {
                            width: 100%;
                            height: 3px;
                            background: #4C477F;
                        }
                        span.arrow {
                            position: absolute;
                            right: -10px;
                            font-size: 30px;
                            font-variation-settings: "wght" 300;
                        }
                    }
                }
            }
        }
    }

    .cont2 {
        background-color: #DEDAFE;
        .center {            
            img.one {
                top: 100px; left: 180px;
            }
            img.two {
                bottom: 100px; left: 450px;            
            }
            img.three {
                top: 80px; right: 120px;
            }
            img.bigNum {
                top: 120px; right: 650px;
            }

            .textWrap {                
                bottom: 160px; left: 50px;
                text-align: right;
                color: #4C477F;
            }

            .goLink {                
                bottom: 100px; right: 150px;
                &:hover {
                    .viewBtn {
                        border: 2px solid #4C477F;
                    }
                }
                .viewBtn {                    
                    color: #4C477F;
                }
            }
        }
    }  

    .cont3 {
        background-color: #FDC3B5;
        .center {            
            img.one {
                top: 100px; left: 180px;
            }
            img.two {
                bottom: 100px; left: 450px;            
            }
            img.three {
                top: 80px; right: 120px;
            }
            img.bigNum {
                top: 120px; right: 650px;
            }

            .textWrap {                
                bottom: 160px; left: 50px;
                text-align: right;
                color: #4C477F;
            }

            .goLink {                
                bottom: 100px; right: 150px;
                &:hover {
                    .viewBtn {
                        border: 2px solid #4C477F;
                    }
                }
                .viewBtn {                    
                    color: #4C477F;
                }
            }
        }
    }
}