.fixMenu {
    position: fixed;
    bottom: 50px; left: 10%;
    // transform: translateX(-50%);
    z-index: 999;
    ul {
        display: flex;
        li {
            margin-right: 20px;
            a {
                display: block;
                height: 5px; width: 40px;
                background: rgba(255,255,255,0.6);
                border-radius: 50px;
                transition: all 0.5s;
            }
        }
        li.active {
            a {
                width: 180px;
                background: rgba(255,255,255,1);
            }
        }
        li.dark {
            a {
                background: rgba(0,0,0,0.6);
            }
        }
        li.dark.active {
            a {
                background: rgba(0,0,0,1);
            }
        }
    }
}

.main {
    .textWrap {
        .mainTitle {
            font-size: 160px;
            font-weight: 900;
            margin-bottom: 40px;
            color: #fff;
        }
        .subTitle {
            font-size: 60px;
            font-weight: 300;
            color: #fff;
        }
    }
    .cont1 {
        position: relative;
        width: 100%; height: 100vh;
        overflow: hidden;
        .mainConts {
            width: 100%; height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            .bgVideo {
                width: 100%; height: 100%;
                overflow: hidden;
                position: relative;
                .overlay {
                    width: 100%; height: 100%;
                    position: absolute;
                    background: rgba(0,0,0,0.2);
                }
            }
            .bigBox {
                width: $center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .conts {
        width: 100%; height: 100vh;
        .contsWrap {
            width: 100%; height: 100vh;
            overflow: hidden;
            transition: all 0.5s;
            .bigBox {
                width: 100%; height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s;
                .textWrap {
                    width: $center;
                    opacity: 1;
                    overflow: hidden;
                    transition: opacity 0.2s;
                    .mainTitle {
                        white-space: nowrap;
                    }
                }
            } 
            .rightBox {
                width: 0; height: 0;
                margin-left: 0;
                transition: all 0.5s;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .right.textWrap {
                    width: 100%;
                    position: relative;
                    padding-bottom: 100px;
                    .mainTitle {
                        font-size: 80px;
                        color: #000;
                    }
                    .subTitle {
                        font-size: 30px;
                        color: #000;
                    }
                    .linkBtn {
                        width: 60px; height: 60px;
                        position: absolute;
                        right: 50px; bottom: 50px;
                        border: 1px solid #000;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.5s;
                        &:hover {
                            background: #000;
                            span.goText {
                                opacity: 0;
                            }
                            span.arrow {
                                opacity: 1;
                            }
                        }
                        span {
                            position: absolute;
                            transition: all 0.5s;
                        }
                        span.goText {
                            font-size: 20px;
                            font-weight: 600;
                            opacity: 1;
                            color: #000;
                        }
                        span.arrow {
                            font-size: 40px;
                            opacity: 0;
                            color: #fff;
                        }
                    }
                }
                .listWrap {
                    width: 100%; height: 400px;
                    display: flex;
                    justify-content: space-between;
                    .listBox {
                        width: calc(100% - 40px);
                        position: relative;
                        overflow: hidden;
                        margin-right: 20px;
                        background: #f9f9f9;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                            img.png {
                                opacity: 0;
                            }
                            img.hover {
                                opacity: 1;
                            }
                        }
                        img {
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                            transition: all 0.5s;
                        }
                        img.png {
                            opacity: 1;
                        }
                        img.hover {
                            opacity: 0;
                        }
                    }
                }
            } 
        } 
    }
    .conts.show {
        .contsWrap {
            width: 100%; height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .bigBox {
                width: 50%;
                .textWrap {
                    opacity: 0;
                }
            }
            .rightBox {                
                width: calc(50% - 20px); height: 100%;
                margin-left: 20px;
            }
        }
    }

    .cont2 {
        .contsWrap {
            .bigBox {
                background: url(../img/main/main_bg_2.png) no-repeat center / cover;
            }  
        } 
    }
    .cont3 {
        .contsWrap {
            .bigBox {
                background: url(../img/main/main_bg_3.png) no-repeat center / cover;
            }  
        } 
    }
    
    .cont4 {
        .contsWrap {
            width: 100%; height: 100vh;
            overflow: hidden;
            img {
                width: 100%;
            }
            .bigBox {
                width: 100%; height: 100%;
                display: flex;
                justify-content: center;
                .textWrap {
                    width: $center;
                    margin-top: 60px;
                    .mainTitle {
                        color: #000;
                        margin-bottom: 60px;
                        font-size: 140px;
                        position: relative;
                        span.full {
                            display: inline-block;
                            width: 0;
                            // opacity: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            transition: all 2s ease-out;
                        }
                        span.line {
                            position: absolute;
                            top: -120%; left: 0%;
                            opacity: 0;
                            color: transparent;
                            -webkit-text-stroke: 1px #000;
                            white-space: nowrap;
                            transition: all 0.6s;
                        }
                        span.full.show {
                            width: 100%;
                            // opacity: 1;
                        }
                        span.line.show {
                            top: 0;
                            opacity: 1;
                        }
                    }
                    .subTitle {
                        display: flex;
                        align-items: center;
                        color: #000;
                        .linkBtn {
                            width: 60px; height: 60px;
                            border: 1px solid #000;
                            border-radius: 50%;
                            margin-left: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.5s;
                            &:hover {
                                background: #000;
                                span.goText {
                                    opacity: 0;
                                }
                                span.arrow {
                                    opacity: 1;
                                }
                            }
                            span {
                                position: absolute;
                                transition: all 0.5s;
                            }
                            span.goText {
                                font-size: 20px;
                                font-weight: 600;
                                opacity: 1;
                                color: #000;
                            }
                            span.arrow {
                                font-size: 40px;
                                opacity: 0;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .fp-watermark {
        display: none !important;
    }
}


// #fp-nav ul li, .fp-slidesNav ul li {
//     margin: 60px 20px;
// }
// #fp-nav ul li a span, .fp-slidesNav ul li a span {
//     background: #fff;
//     width: 6px; height: 60px;
//     border-radius: 50px;
// }

// #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
//     width: 6px; height: 120px;
//     border-radius: 50px;
// }