    <div id="header_detail">
        <div class="hdetail_top">
            <div class="center">
                <h1 class="t_logo">
                    <a href="#">
                        <img src="/img/logo_bk.png">
                    </a>
                </h1>

                <div class="headerBtns">
                    <% if (login) { %>                    
                        <div class="login">
                            <a class="poppins" href="/members/mypage">My Page</a>
                            <a class="poppins" href="/logout">Logout</a>
                        </div>
                    <% } else { %>
                        <div class="notLogin">
                            <a class="poppins" href="/members/login">Login</a>
                            <a class="poppins" href="/members/join">Join</a>
                        </div>
                    <% } %>
                    <a class="menuBtn" href="#">
                        <span class="menuIcon one"></span>
                        <span class="menuIcon two"></span>
                        <span class="menuIcon three"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="hdetail_bot">
            <div class="center">
                <ul class="gnb">
                    <li><a class="poppins" href="/about">
                        <span class="full poppins">About us</span>
                        <span class="line">About us</span>
                        <span class="linkBtn">
                            <span class="material-symbols-outlined arrow">
                                arrow_forward</span>
                        </span>
                    </a></li>
                    <li><a class="poppins" href="/shop/clothes">
                        <span class="full">Clothes</span>
                        <span class="line">Clothes</span>
                        <span class="linkBtn">
                            <span class="material-symbols-outlined arrow">
                                arrow_forward</span>
                        </span>
                    </a></li>
                    <li><a class="poppins" href="/shop/acc">
                        <span class="full">ACC</span>
                        <span class="line">ACC</span>
                        <span class="linkBtn">
                            <span class="material-symbols-outlined arrow">
                                arrow_forward</span>
                        </span>
                    </a></li>
                    <li><a class="poppins" href="#">
                        <span class="full">Board</span>
                        <span class="line">Board</span>
                        <span class="linkBtn">
                            <span class="material-symbols-outlined arrow">
                                arrow_forward</span>
                        </span>
                    </a></li>
                </ul>

                <img class="circleText" src="/img/circleText2.png" alt="">
            </div>
        </div>
    </div>