<%- include('header') %>

<div id="container" class="main">
    <div class="cont1">
        <div class="mainConts">
            <div class="center">
                <div class="leftText">
                    <h2 class="changwon mainTitle line">
                        ME<span class="comma">,</span><br>
                        MY PET<span class="comma">,</span><br>
                        AND I
                    </h2>
                    <h2 class="changwon mainTitle full">
                        ME<span class="comma">,</span><br>
                        MY PET<span class="comma">,</span><br>
                    </h2>
                </div>
                <div class="rightConts">
                    <img class="back" src="/img/main/cont1_1.png">
                    <img class="front" src="/img/main/cont1_2.png">
                </div>
            </div>
        </div>
        <div class="textFlow mont">
            <p>MY PET</p>
            <p><strong>MLB</strong> PET</p>
        </div>
    </div>

    <div class="cont2 section">
        <div class="center">
            <img class="one" src="/img/main/cont2_1.png">
            <img class="two" src="/img/main/cont2_2.png">
            <img class="three" src="/img/main/cont2_3.png">
            <img class="bigNum" src="/img/main/cont2_bigNumber.png">
            <div class="textWrap">
                <h3 class="title">표정도 패션도<br>닮아가는</h3>
                <p class="hashtag">#PET & I</p>            
            </div>
            <a href="">
                <div class="goLink">
                    <div class="viewBtn">
                        <div class="btnConts changwon">
                            <span class="btnText">GO, SHOP</span>
                            <span class="line"></span>
                            <span class="material-symbols-outlined arrow">
                                arrow_forward_ios</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="cont3 section">
        <img class="one" src="/img/main/cont3_1.png">
        <img class="two" src="/img/main/cont3_2.png">
        <img class="three" src="/img/main/cont3_3.png">
        <img class="bigNum" src="/img/main/cont3_bigNumber.png">
        <div class="textWrap">
            <h3 class="title">표정도 패션도<br>닮아가는</h3>
            <p class="hashtag">#MLB PET 볼캡</p>
            <a href="#" class="viewBtn">
                <div class="btnConts">
                    <span class="btnText">PET Clothes</span>
                    <span class="line"></span>
                    <span class="material-symbols-outlined arrow">
                        arrow_forward_ios</span>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>