<%- include('header') %>

<div id="container" class="main">
    <div id="fullpage" class="cont1 section">
        <div class="mainConts">
            <div class="bgVideo">
                <div class="overlay"></div>
                <video loop muted autoplay>
                    <source src="/img/main/main_1.mp4">
                </video>
            </div>
            <div class="bigBox">
                <div class="textWrap">
                    <h2 class="poppins mainTitle">
                        ME<span class="comma">,</span> MY PET<span class="comma">,</span><br>
                        MLB Pet
                    </h2>
                    <p class="subTitle">좋은 건 함께 하고 싶으니까!<br>
                    <!-- <strong>MLB PET 아이템</strong>들을 만나보세요. --></p>
                </div>
            </div>
        </div>
    </div>

    <div id="fullpage" class="cont2 section">
        <div class="contsWrap">
            <div class="bigBox">
                <div class="textWrap">
                    <h2 class="poppins mainTitle">
                        <span>Pet</span>shoinsta<br>Must-have Items
                    </h2>
                    <p class="poppins subTitle">#MLB PET ClOTHES</p>
                </div>
            </div>
            <div class="rightBox">
                <div class="right_textWrap">
                    <h2 class="poppins mainTitle">
                        <!-- <span>Pet</span>shoinsta<br>Must-have Items -->
                        PETSHOINISTA<br>Must-have Items
                    </h2>
                    <p class="poppins subTitle">#MLB PET ClOTHES</p>
                    <a class="linkBtn poppins" href="#">
                        <span class="goText">GO</span>
                        <span class="material-symbols-outlined arrow">
                            arrow_forward</span>
                    </a>
                </div>
                <div class="listWrap">
                    <div class="listBox">
                        <a href="#">
                            <img class="hover" src="/img/main/clothes_1.png" alt="">
                            <img class="png" src="/img/main/clothes_1.jfif" alt="">
                        </a>
                    </div>
                    <div class="listBox">
                        <a href="#">
                            <img class="png" src="/img/main/clothes_1.png" alt="">
                            <img class="hover" src="/img/main/clothes_1.jfif" alt="">
                        </a>
                    </div>
                    <div class="listBox">
                        <a href="#">
                            <img class="png" src="/img/main/clothes_1.png" alt="">
                            <img class="hover" src="/img/main/clothes_1.jfif" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fullpage" class="cont3 section">
        <div class="contsWrap">
            <div class="bigBox">
                <div class="textWrap">
                    <h2 class="poppins mainTitle">
                        We are Soulmate<br>Fashion, too
                    </h2>
                    <p class="poppins subTitle">#MLB PET ACC</p>
                </div>
            </div>
            <div class="rightBox">
                <div class="right_textWrap">
                    <h2 class="poppins mainTitle">
                        WE ARE SOULMATE<br>Fashion, too
                    </h2>
                    <p class="poppins subTitle">#MLB PET ACC</p>
                    <a class="linkBtn poppins" href="#">
                        <span class="goText">GO</span>
                        <span class="material-symbols-outlined arrow">
                            arrow_forward</span>
                    </a>
                </div>
                <div class="listWrap">
                    <div class="listBox">
                        <a href="#">
                            <img class="hover" src="/img/main/clothes_1.png" alt="">
                            <img class="png" src="/img/main/clothes_1.jfif" alt="">
                        </a>
                    </div>
                    <div class="listBox">
                        <a href="#">
                            <img class="png" src="/img/main/clothes_1.png" alt="">
                            <img class="hover" src="/img/main/clothes_1.jfif" alt="">
                        </a>
                    </div>
                    <div class="listBox">
                        <a href="#">
                            <img class="png" src="/img/main/clothes_1.png" alt="">
                            <img class="hover" src="/img/main/clothes_1.jfif" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fullpage" class="cont4 section">
        <div class="contsWrap">
            <div class="bigBox">
                <div class="textWrap">
                    <h2 class="poppins mainTitle">
                        ME, MY PET, AND I
                    </h2>
                    <p class="poppins subTitle">#MLB PET ClOTHES</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/fullpage.js"></script>
<script>
    let test = new fullpage('#fullpage', {
        //options here
        autoScrolling:true,
        scrollHorizontally: true
    });
</script>

</body>
</html>