.board_detail {
    .cont1 {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #000;
        .center {
            width: $center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 60px 0 100px;
            .titleWrap {
                .mainTitle {
                    font-size: 100px;
                    font-weight: 900;
                    color: #000;
                    margin-bottom: 20px;
                }
                .subTitle {
                    font-size: 30px;
                    font-weight: 300;
                    color: #000;
                    line-height: 1.4;
                    word-break: keep-all;
                }
            }
        }
    }
    .cont2 {
        display: flex;
        justify-content: center;
        padding: 80px 0;
        .center {
            width: $smallCenter;
            .detailTop {
                width: 100%;
                padding: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid #000;
                .left {
                    display: flex;
                    align-items: center;
                    .brdCategory {
                        background: #000;
                        color: #fff;
                        font-weight: 300;
                        margin-right: 20px;
                        padding: 10px 20px;
                        font-size: 16px;
                        border-radius: 5px;
                        box-sizing: border-box;
                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }
                    .brdTitle {
                        font-size: 24px;
                        font-weight: 500;
                    }
                }
                .brdDate {
                    font-size: 16px;
                    font-weight: 300;
                    color: #999;
                }
            }
            .content {
                padding: 60px 0;
                border-bottom: 2px solid #000;
                margin-bottom: 40px;
                img {
                    margin-bottom: 40px;
                    max-width: 100%;
                }
                p {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.6;
                    word-break: keep-all;
                    white-space:break-spaces;
                }
            }
            .btnWrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px; height: 50px;
                    border: 1px solid #000;
                    color: #000;
                    transition: all 0.5s;
                    &:hover {
                        background: #000;
                        color: #fff;
                    }
                }
                .adminBtn {
                    display: flex;
                    a {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .about {
        .cont1 {
            width: 100%;
            .center {
                width: 90%;
                padding: 40px 0;
                .titleWrap {
                    .mainTitle {
                        font-size: 80px;
                        margin-bottom: 20px;
                    }
                    .subTitle {
                        font-size: 26px;
                    }
                }
            }
        }
        .cont2 {
            .center {
                width: 90%;
                .left {
                    width: calc(20%);
                    .logoImg { 
                        width: 100%;
                    }
                    .linkBtns {
                        a {
                            width: 100%;
                        }
                    }
                }
                .right {
                    width: calc(80% - 80px);
                }
            }
        }

        .cont3 {
            .center {
                width: 90%;
                .mediaConts {
                    .mediaRight {
                        .mediaList {
                            width: calc(50% - 10px);
                            margin-right: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .cont4 {
            .center {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        .cont1 {
            .center {
                width: 90%;
                padding: 30px 0;
                .titleWrap {
                    .mainTitle {
                        font-size: 50px;
                        margin-bottom: 10px;
                    }
                    .subTitle {
                        font-size: 18px;
                    }
                }
            }
        }
        .cont2 {
            .bigImg {
                width: 100%;
            }
            .center {
                width: 90%;
                display: block;
                padding: 60px 0 80px;
                .left {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 40px;
                    .logoImg { 
                        width: 40%;
                        display: block;
                        margin-bottom: 0;
                    }
                    .linkBtns {
                        width: calc(60% - 40px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a {
                            width: 90%;
                            margin-bottom: 0;
                            padding: 12px 15px;
                            font-size: 13px;
                        }
                    }
                }
                .right {
                    width: 100%;
                    .aboutTit {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                    .txt {
                        font-size: 16px;
                    }
                }
            }
        }
    
        .cont3 {
            display: flex;
            justify-content: center;
            .center {
                width: 90%;
                .title {
                    font-size: 26px;
                }
                .mediaConts {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-top: 30px;
                    .mediaLeft {
                        width: 100%;
                        margin-bottom: 20px;
                        .mediaMainImg {
                            width: 100%;
                        }
                    }
                    .mediaRight {
                        width: 100%;
                        align-items: flex-start;
                        align-content: flex-start;
                        .mediaList {
                            width: calc(33.333333% - 10px);
                            margin-right: 10px;
                            margin-bottom: 10px;
                            &:nth-child(2n){
                                margin-right: 10px;
                            }
                            &:nth-child(3n){
                                margin-right: 0;
                            }
                        }
                    }
                }
                #mediaUploadForm {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 0;
                    input {
                        width: 64%;
                        padding: 10px;
                        margin-right: 0;
                    }
                }
            }
        }
    
        .cont4 {
            display: flex;
            justify-content: center;
            padding: 40px 0;
            .center {
                width: 90%;
                .videoWrap {
                    width: 100%;
                    position: relative;
                    .overlay {
                        width: 100%; height: 100%;
                        position: absolute;
                        top: 0; left: 0;
                        background: rgba(0,0,0,0.2);
                        transition: all 0.5s;
                        .playBtn {
                            width: 80px; height: 80px;
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 20;
                            background: url(../img/about/playBtn_bg.png) no-repeat center / cover;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            &:hover {
                                animation: playBtnHover 1s ;
                            }
    
                            @keyframes playBtnHover {
                                0% { transform: translate(-50%, -50%) rotate(0deg);}
                                0% { transform: translate(-50%, -50%) rotate(360deg);}
                            }
                        }
                        .playIcon {
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                            width: 30px;
                            margin-left: 4px;
                        }
                    }
                    video {
                        width: 100%;
                    }
                }
            }
        }
    }
    
}