<%- include('../header') %>
    <div id="container" class="shop_list">
        <div class="cont1">
            <div class="center">
                <div class="titleWrap">
                    <h2 class="mainTitle poppins">Clothes</h2>
                    <p class="subTitle poppins">
                        We are Soulmate Fashion, too</p>
                </div>
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <div class="lists">
                    <div class="list"></div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>