<%- include('../header', jsFiles=["sub_common.js", "shop/shop_register.js"], cssFiles=[]) %>
    <div id="container" class="shop_register">
        <div class="cont1">
            <div class="center">
                <div class="titleWrap">
                    <h2 class="mainTitle poppins">Product Register</h2>
                    <p class="subTitle">MLB PET 제품을 등록해주세요</p>
                </div>

                <form action="/shop/edit/register/data" method="post" id="prdRegister" enctype="multipart/form-data">
                    <div class="formLeft">
                        <!-- 카테고리 -->
                        <div class="inputWrap categoryWrap">
                            <p class="label">카테고리</p>
                            <div class="categoryCheck">
                                <span>
                                    <input type="radio" name="category" id="clothes" class="categoryCheck" value="clothes">
                                    <label for="clothes" class="categoryLabel">
                                        Clothes
                                    </label>
                                </span>
                                <span>
                                    <input type="radio" name="category" id="acc" class="categoryCheck" value="acc">
                                    <label for="acc" class="categoryLabel">
                                        Acc
                                    </label>
                                </span>
                            </div>
                        </div>
                        <!-- 제품명 -->
                        <div class="inputWrap">
                            <label for="prdName">제품명</label>
                            <input type="text" name="prdName" id="prdName" placeholder="제품명을 입력해주세요" required>
                        </div>
                        <!-- 가격 -->
                        <div class="inputWrap">
                            <label for="price">가격</label>
                            <input type="number" name="price" id="price" placeholder="제품 가격을 입력해주세요" required>
                        </div>
                        <!-- 대표이미지 -->
                        <div class="inputWrap imgWrap">
                            <label for="prdImg">대표이미지</label>
                            <input type="file" name="prdImg" id="prdImg">
                        </div>
                        <!-- 추가 썸네일 이미지 -->
                        <div class="inputWrap addImgWrap">
                            <label for="addPrdImg">추가 썸네일 이미지</label>
                            <input type="file" name="addPrdImg" id="addPrdImg" multiple>
                        </div>
                        <!-- 색상 -->
                        <div class="inputWrap colorWrap">
                            <p class="label">색상</p>
                            <div class="colorChkWrap">
                                <span>
                                    <input type="checkbox" name="color" id="black" class="colorCheck" value="black">
                                    <label for="black" class="black colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="white" class="colorCheck" value="white">
                                    <label for="white" class="white colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="blue" class="colorCheck" value="blue">
                                    <label for="blue" class="blue colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="pink" class="colorCheck" value="pink">
                                    <label for="pink" class="pink colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="red" class="colorCheck" value="red">
                                    <label for="red" class="red colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="mint" class="colorCheck" value="mint">
                                    <label for="mint" class="mint colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="purple" class="colorCheck" value="purple">
                                    <label for="purple" class="purple colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="beige" class="colorCheck" value="beige">
                                    <label for="beige" class="beige colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="yellow" class="colorCheck" value="yellow">
                                    <label for="yellow" class="yellow colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="skyblue" class="colorCheck" value="skyblue">
                                    <label for="skyblue" class="skyblue colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="brown" class="colorCheck" value="brown">
                                    <label for="brown" class="brown colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="coral" class="colorCheck" value="coral">
                                    <label for="coral" class="coral colorLabel">
                                        <span class="material-symbols-outlined selectColor">check</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <!-- 사이즈 -->
                        <div class="inputWrap sizeWrap">
                            <p class="label">사이즈</p>
                            <div class="sizeChkWrap">
                                <span>
                                    <input type="checkbox" name="size" id="small" class="sizeCheck" value="S">
                                    <label for="small" class="sizeLabel">S
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="size" id="medium" class="sizeCheck" value="M">
                                    <label for="medium" class="sizeLabel">M
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="size" id="large" class="sizeCheck" value="L">
                                    <label for="large" class="sizeLabel">L
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="size" id="XLarge" class="sizeCheck" value="XL">
                                    <label for="XLarge" class="sizeLabel">XL
                                    </label>
                                </span>
                            </div>
                        </div>
                        <!-- 상세이미지 -->
                        <div class="inputWrap detailImgWrap">
                            <label for="detailImg">상세페이지 이미지</label>
                            <input type="file" name="detailImg" id="detailImg" multiple>
                        </div>
                        <!-- 상세 텍스트 -->
                        <div class="inputWrap">
                            <label for="detailTxt">제품상세 추가설명</label>
                            <textarea name="detailTxt" id="detailTxt" placeholder="제품의 상세정보를 입력해주세요" wrap="hard"></textarea>
                        </div>
                    </div>

                    <div class="formRight">
                        <button type="reset" class="reset">취소</button>
                        <button type="submit" class="register">등록</button>
                    </div>
                </form>
            </div>
        </div>

        <%- include('../common/goTop.ejs') %>
    </div>
    <%- include('../footer.ejs') %>