<%- include('../header') %>
    <div id="container" class="shop_register">
        <div class="cont1">
            <div class="center">
                <div class="titleWrap">
                    <h2 class="mainTitle poppins">Product Register</h2>
                    <p class="subTitle">MLB PET 제품을 등록해주세요</p>
                </div>

                <form action="/prddata" method="post" id="prdRegister">
                    <div class="formLeft">
                        <div class="inputWrap categoryWrap">
                            <p class="label">카테고리</p>
                            <div class="categoryCheck">
                                <span>
                                    <input type="radio" name="category" id="clothes" class="categoryCheck" value="clothes">
                                    <label for="clothes" class="categoryLabel">
                                        Clothes
                                    </label>
                                </span>
                                <span>
                                    <input type="radio" name="category" id="acc" class="categoryCheck" value="acc">
                                    <label for="acc" class="categoryLabel">
                                        Acc
                                    </label>
                                </span>
                            </div>
                        </div>

                        <div class="inputWrap">
                            <label for="prdName">제품명</label>
                            <input type="text" name="prdName" id="prdName" placeholder="제품명을 입력해주세요" required>
                        </div>
    
                        <div class="inputWrap">
                            <label for="price">가격</label>
                            <input type="number" name="price" id="price" placeholder="제품 가격을 입력해주세요" required>
                        </div>
                        
                        <div class="inputWrap">
                            <label for="prdImg">대표이미지</label>
                            <input type="text" name="prdImg" id="prdImg" placeholder="이미지 경로를 입력해주세요 (임시)">
                        </div>
                        <!-- <div class="inputWrap">
                            <label for="file">대표이미지</label>
                            <div class="filebox">
                                <input class="upload-name" placeholder="대표이미지를 등록해주세요">
                                <label for="file">파일찾기</label> 
                                <input type="file" id="file" name="file">
                            </div>  
                        </div> -->
                        
                        <div class="inputWrap colorWrap">
                            <p class="label">색상</p>
                            <div class="colorChkWrap">
                                <span>
                                    <input type="checkbox" name="color" id="black" class="colorCheck">
                                    <label for="black" class="black colorLabel">
                                        <span class="selectColor"></span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="white" class="colorCheck">
                                    <label for="white" class="white colorLabel">
                                        <span class="selectColor"></span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="blue" class="colorCheck">
                                    <label for="blue" class="blue colorLabel">
                                        <span class="selectColor"></span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="pink" class="colorCheck">
                                    <label for="pink" class="pink colorLabel">
                                        <span class="selectColor"></span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="mint" class="colorCheck">
                                    <label for="mint" class="mint colorLabel">
                                        <span class="selectColor"></span>
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="color" id="purple" class="colorCheck">
                                    <label for="purple" class="purple colorLabel">
                                        <span class="selectColor"></span>
                                    </label>
                                </span>
                            </div>
                        </div>

                        <div class="inputWrap sizeWrap">
                            <p class="label">사이즈</p>
                            <div class="sizeChkWrap">
                                <span>
                                    <input type="checkbox" name="size" id="small" class="sizeCheck">
                                    <label for="small" class="sizeLabel">S
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="size" id="medium" class="sizeCheck">
                                    <label for="medium" class="sizeLabel">M
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="size" id="large" class="sizeCheck">
                                    <label for="large" class="sizeLabel">L
                                    </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="size" id="XLarge" class="sizeCheck">
                                    <label for="XLarge" class="sizeLabel">XL
                                    </label>
                                </span>
                            </div>
                        </div>

                        <div class="inputWrap">
                            <label for="detail">제품상세</label>
                            <textarea name="detail" id="detail" placeholder="제품의 상세정보를 입력해주세요"></textarea>
                        </div>
                    </div>

                    <div class="formRight">
                        <button type="reset" class="reset">취소</button>
                        <button type="submit" class="register">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const colorLabel = document.querySelectorAll(".colorChkWrap .colorLabel");
        const colorSelect = document.querySelectorAll(".colorLabel .selectColor");

        const sizeLabel = document.querySelectorAll(".sizeChkWrap .sizeLabel");
        const categoryLabel = document.querySelectorAll(".categoryChkWrap .categoryLabel");

        const registerForm = document.querySelector("#prdRegister");
        const resetBtn = document.querySelector(".reset");
        const registerBtn = document.querySelector(".register");
        
        
        for(let i = 0; i < categoryLabel.length; i++){
            categoryLabel[i].onclick = function(){
                categoryLabel[i].classList.add("select");
            }
        }
        for(let i = 0; i < colorLabel.length; i++){
            colorLabel[i].onclick = function(){
                colorSelect[i].style.display = "block";
            }
        }
        for(let i = 0; i < sizeLabel.length; i++){
            sizeLabel[i].onclick = function(){
                sizeLabel[i].classList.add("select");
            }
        }

        registerBtn.onclick = function(){
            let regisetCheck = window.confirm("등록하시겠습니까?");

            if(regisetCheck){
                registerForm.submit();
            }
            else {
                alert("제품등록이 취소되었습니다.");
            }
        }

        resetBtn.onclick = function(){
            let resetCheck = window.confirm("등록된 내용을 모두 지우시겠습니까?");

            if(resetCheck){
                registerForm.reset();
                alert("등록된 내용을 모두 삭제하였습니다.");
            }
            else {
                alert("등록된 내용을 유지하였습니다.");
            }
        }

    </script>
</body>
</html>