<%- include('../header') %>
    <div id="container" class="shop_detail">
        <div class="cont1">
            <div class="center">
                <div class="left">
                    <div class="mainImg">
                        <img src="/img/shop/product/clothes_1.png" alt="">
                    </div>
                    <div class="subImg">
                        <div class="imglist"></div>
                        <div class="imglist"></div>
                        <div class="imglist"></div>
                        <div class="imglist"></div>
                    </div>
                </div>
                <div class="right">
                    <h2 class="prdName">MOGOGRAM 후드 뉴욕 양키스</h2>
                    <h2 class="price">49,000원</h2>
                    <form class="subInfo" action="">
                        <div class="infoWrap">
                            <p>색상</p>
                            <div class="colorWrap">
                                <input type="radio" name="black">
                                <label for="black"></label>
                            </div>
                            <div class="colorWrap">
                                <input type="radio" name="black">
                                <label for="black"></label>
                            </div>
                            <div class="colorWrap">
                                <input type="radio" name="black">
                                <label for="black"></label>
                            </div>
                        </div>
                        <div class="infoWrap">
                            <p>수량</p>
                            <button class="plus">+</button>
                            <input type="text" name="amout" value="1">
                            <button class="minus">-</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>