.shop_detail {
    .cont1 {
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 2px solid #000;
        .center {
            width: $smallCenter;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #000;
            padding: 60px 0;
            .left {
                width: 50%;
                margin-right: 100px;
                .mainImg {
                    width: 100%;
                    margin-bottom: 20px;
                    // border-top: 1px solid #000;
                    // border-bottom: 1px solid #000;
                    border-radius: 5px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    img {
                        width: 100%;
                    }
                    span.arrowIcon {
                        display: none;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-variation-settings: "wght" 100;
                        font-size: 60px;
                        cursor: pointer;
                        color: #ccc;
                        transition: all 0.5s;
                        z-index: 10;
                        &:hover {
                            color: #000;
                        }
                    }
                    span.prev {
                        left: 0;
                    }
                    span.next {
                        right: 0;
                    }
                }
                .subImgList {
                    width: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    span.arrowIcon {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 30px;
                        font-variation-settings: "wght" 100;
                        cursor: pointer;
                        z-index: 10;
                    }
                    span.prev {
                        left: 0;
                    }
                    span.next {
                        right: 0;
                    }
                    .subImg {
                        width: 85%;
                        position: relative;
                        overflow: hidden;
                        .subImgWrap {
                            width: 200%;
                            display: flex;
                            margin-left: 0%;
                            position: relative;
                            .imglist {
                                background: #f8f8f8;
                                width: calc((100% - 40px) / 5);
                                margin-right: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                transform: translateX();
                                border: 2px solid transparent;
                                box-sizing: border-box;
                                &:nth-child(5n) {
                                    margin-right: 0;
                                }
                                img {
                                    width: 100%;
                                }
                            }
                            .imglist.select {
                                border: 2px solid #000;
                            }
                            .subImgselect {
                                display: none;
                                position: absolute;
                                width: calc((50% - 40px) / 5);
                                height: 100%;
                                border: 2px solid #000;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }
            .right {
                width: calc(50% - 100px);
                .prdName {
                    font-size: 34px;
                    margin-bottom: 30px;
                    word-break: keep-all;
                    line-height: 1.4;
                }
                .price {
                    font-size: 24px;
                    margin-bottom: 40px;
                }
                .subInfo {
                    .subInfoWrap {
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        padding: 40px 0;
                        .infoWrap {
                            display: flex;
                            align-items: center;
                            margin-bottom: 30px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .detailTitle {
                                font-size: 18px;
                                font-weight: 300;
                                width: 100px;
                            }
                            .inputWrap {
                                display: flex;
                                margin-right: 10px;
                                input[type="radio"] {
                                    width: 0; height: 0;
                                    overflow: hidden;
                                    display: none;
                                }
                                label {
                                    display: inline-block;
                                    margin-right: 10px;
                                    cursor: pointer;
                                }
                            }
                            .colorWrap {
                                label {
                                    border: 1px solid #ccc;
                                    width: 32px; height: 32px;
                                    border-radius: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    span.checkIcon {
                                        font-variation-settings: "wght" 400;
                                        display: none;
                                    }
                                    span.checkIcon.select {
                                        display: block;
                                    }
                                }
                            }
                            .sizeWrap {
                                label {
                                    padding: 8px 20px;
                                    border: 1px solid #ccc;
                                    border-radius: 3px;
                                    font-size: 16px;
                                    font-weight: 300;
                                }
                                label.select {
                                    background: #000;
                                    color: #fff;
                                }
                            }
                        }
                        .benefitWrap {
                            align-items: flex-start;
                            .benefit {
                                p {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
                .selInfoForm {
                    .selResult {
                        display: none;
                        .selInfo {
                            border-bottom: 1px solid #ccc;
                            padding: 30px 0;
                            input {
                                border: 0;
                                width: auto;
                            }
                            .selPrdName {
                                input {
                                    font-size: 18px;
                                    font-weight: 600;
                                    margin-bottom: 10px;
                                }
                            }
                            .selInfoWrap {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .selColorSizeWrap {
                                    width: 60%;
                                    display: flex;
                                    align-items: center;
                                    > p {
                                        margin-right: 10px;
                                        display: flex;
                                        align-items: center;
                                        &:last-child {
                                            margin: 0;
                                            &::after {
                                                display: none;
                                            }
                                        }
                                        &::after {
                                            content: "/";
                                            margin-left: 10px;
                                        }
                                        input {
                                            width: auto;
                                            margin-left: 10px;
                                        }
                                    }
                                }
                                .selAmoutWrap {
                                    display: flex;
                                    align-items: center;
                                    .amountControl {
                                        display: flex;
                                        border: 1px solid #ccc;
                                        input {
                                            width: 40px; height: 30px;
                                            text-align: center;
                                            border: 1px solid #ccc;
                                            border-top: 0;
                                            border-bottom: 0;
                                        }
                                        .subAmountIcon {
                                            width: 30px; height: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            cursor: pointer;
                                        }
                                    }
                                    .remove {
                                        width: 24px; height: 24px;
                                        cursor: pointer;
                                        margin-left: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: #ccc;
                                        border-radius: 100%;
                                        span.removeIcon {
                                            font-size: 18px;
                                            font-variation-settings: "wght" 300;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        .totalPrice {
                            display: none;
                            align-items: center;
                            justify-content: flex-end;
                            margin-top: 40px;
                            .totalText {
                                margin-right: 20px;
                                font-size: 20px;
                            }
                            .priceResult {
                                display: flex;
                                align-items: center;
                                .priceText {
                                    border: 0;
                                    font-size: 26px;
                                    font-weight: 600;
                                }
                            }
                        }
                        .totalPrice.show {
                            display: flex;
                        }
                    }
                    .btnsWrap {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                        button {
                            width: calc(100% - 20px / 2);
                            margin-right: 20px;
                            color: #fff;
                            padding: 20px 0;
                            font-size: 16px;
                            border-radius: 3px;
                            cursor: pointer;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        .purchase {
                            background: #000;
                        }
                        .cart {
                            background: #ccc;
                        }
                    }
                }
            }
        }
    }

    .cont2 {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #000;
        .center {
            width: $smallCenter;
            padding: 60px 0;
            .detailPage {
                .detailText {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.8;
                    margin: 0 auto;
                    margin-bottom: 60px;
                    word-break: keep-all;
                    white-space: pre-wrap;
                }
                .detailImg {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .shop_detail {
        .cont1 {
            .center {
                width: 90%;
                .left {
                    .subImgList {
                        .subImg {
                            .subImgWrap {
                                .imglist {
                                    &:nth-child(5n) {
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .cont2 {
            .center {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .shop_detail {
        .cont1 {
            .center {
                width: 90%;
                display: block;
                padding: 20px 0;
                .left {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 60px;
                    .mainImg {
                        span.arrowIcon {
                            font-size: 50px;
                        }
                    }
                    .subImgList {
                        width: 100%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        .subImg {
                            width: 80%;
                            .subImgWrap {
                                .imglist {
                                    &:nth-child(5n) {
                                        margin-right: 10px;
                                    }
                                    &:nth-child(4n) {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .right {
                    width: 100%;
                    .prdName {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    .price {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                    .subInfo {
                        .subInfoWrap {
                            padding: 40px 0;
                            border-bottom: 1px solid #000;
                            .infoWrap {
                                display: block;
                                align-items: center;
                                margin-bottom: 30px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .detailTitle {
                                    font-size: 18px;
                                    font-weight: 500;
                                    width: 100%;
                                    margin-bottom: 15px;
                                }
                                .inputWrap {
                                    display: flex;
                                    &:last-child {
                                        label {
                                            margin-right: 8px;
                                        }
                                    }
                                }
                                .colorWrap {
                                    label {
                                        width: 25px; height: 25px;
                                        span.checkIcon {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                            .benefitWrap {
                                align-items: flex-start;
                                .benefit {
                                    p {
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .selInfoForm {
                        .selResult {
                            display: none;
                            .selInfo {
                                border-bottom: 1px solid #000;
                                padding: 30px 0;
                                .selPrdName {
                                    input {
                                        font-size: 18px;
                                    }
                                }
                                .selInfoWrap {
                                    width: 100%;
                                    .selColorSizeWrap {
                                        width: 60%;
                                        display: flex;
                                        align-items: center;
                                        > p {
                                            &::after {
                                                margin-left: 6px;
                                            }
                                            input {
                                                margin-left: 6px;
                                            }
                                        }
                                    }
                                    .selAmoutWrap {
                                        .amountControl {
                                            input {
                                                width: 30px; height: 30px;
                                            }
                                            .subAmountIcon {
                                                width: 30px; height: 30px;
                                                font-size: 20px;
                                            }
                                        }
                                        .remove {
                                            width: 20px; height: 20px;
                                        }
                                    }
                                }
                            }
                            .totalPrice {
                                display: none;
                                align-items: center;
                                justify-content: flex-end;
                                margin-top: 20px;
                                .totalText {
                                    margin-right: 20px;
                                    font-size: 18px;
                                }
                                .priceResult {
                                    .priceText {
                                        font-size: 26px;
                                    }
                                }
                            }
                            .totalPrice.show {
                                display: flex;
                            }
                        }
                        .btnsWrap {
                            display: flex;
                            justify-content: space-between;
                            margin: 40px 0 20px;
                            button {
                                width: calc(100% - 10px / 2);
                                margin-right: 10px;
                                color: #fff;
                                padding: 15px 0;
                                font-size: 16px;
                                border-radius: 3px;
                                cursor: pointer;
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                            .purchase {
                                background: #000;
                            }
                            .cart {
                                background: #ccc;
                            }
                        }
                    }
                }
            }
        }

        .cont2 {
            .center {
                width: 90%;
                padding: 40px 0;
                .detailPage {
                    .detailText {
                        font-size: 16px;
                        margin-bottom: 40px;
                    }
                    .detailImg {
                        display: flex;
                        justify-content: center;
                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}